#wrapper2 {
	margin-left: 300px;
	margin-right: 300px;	
}

#body-wrapper {
	margin-left: 300px;
	margin-right: 300px;	
	margin-top: 50px;
}

#body-wrapper-login {
	margin-left: 300px;
	margin-right: 300px;	
	margin-top: 50px;
}

li {
	list-style-type: none;
}


     