#wrapper2 {
	margin-left: 200px;
	margin-right: 200px;	
}

#body-wrapper {
	margin-left: 300px;
	margin-right: 300px;	
	margin-top: 50px;
}

#body-wrapper-login {	
	
}

#login-btn {
	margin-right: 25px;
}

li {
	list-style-type: none;
}

#menuOverlay {
   position:fixed; /*or  absolute*/
   top:0;
   left:0;
   width:100%;
   z-index: 999; /* or  greater value */
}



     